.bodyContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bodyBackground{
    background: #ff7300;
}


.bodyLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    flex-grow: 1;   
}

@media (min-width: 768px) {
    .bodyLayout {
        gap: 30px; 
    }
}


@media (min-width: 1200px) {
    .bodyLayout {
        gap: 35px; 
    }
}


@media (min-width: 1600px) {
    .bodyLayout {
        gap: 65px; 
    }
}

.bodyTextTypography{
color: #000;
text-align: center;
font-family: "Pixelify Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 80%; /* 24px */
}