.footerLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    background: #000;
    width: 100%;
    height: 40px;
  }

.footerTextAign{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footerTypography{
    color: #FFF;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%; /* 12px */
}