.notiLayout { /*hold the style for the box with size and colour details*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 100px;
    display: flex;
    align-items: center;
    
    padding: 5px;
    background: rgb(255, 194, 14);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.notiTypography { /*holds the style for the text inside notification*/
    color: #000;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 15px;
    font-weight: 400;
    flex-grow: 1;
    margin-left: 25px;
}

.xIconLayout { /*the x icon in the notification box*/
    width: 30px;
    height: 30px;
    background: url("https://s3-alpha-sig.figma.com/img/b671/9f13/d3ffa5ff147dc8fb0fd0a43c251fc192?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=jgywavxnnX~ZbkZP3beII8q~vdGTymf4MUzi5WYQ5CftLrnutXNXR5gjBTMiWA298s8v3Yz4z624d304ElGOltPgBn7g8-acca5so2~bHGbqgHsq1lKGjFDRL1vfTeaHMYHVFg3wllaAAIOIYL0kuAt8dztFB5CpRk~5LAsv2eGBuUFF3M6ft0Q9XARLKMLDaxguUEt9b~pvMgdrhT23hDcRPmmn51U6dO8kXe4NGncQjFLkfmzZlbGUgtt3C0Les3dHnzV2Ix~4EBYiviT1p6tJNBmumQUC9XQi-0~fEeBtWkcYzvV1uO-WYcqrilVngj~OnTozCqEsKNDDTFfdDA__") 
    center/contain no-repeat;
    cursor: pointer;
    margin-bottom: 70px;
}